.btn_custom{
   background-color: black;
   color: white;

}
.btn_custom:hover{
    background-color: brown;
    color: white;
}
.btn_link{
    background-color: blue;
    color: azure;
}

.btn_link:hover{
    background-color: yellowgreen;
    color: azure;
}
.btn-primary:hover{

    background-color: yellowgreen;
    /* color: azure; */


}
.breadcrumb-item{
    background-color: green;
}


.breadcrumb-item:hover{
    background-color: rgb(82, 72, 59);
}